/* MovieList.css



.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
  margin: 40px;
  width: 130px;
  background-color: #97dcea;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card.open {
  background-color: #f0f0f0; 
}

.items-list {
  display: flex;
  flex-direction: column;
}

.item-count {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 50%;
}

.item {
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.seen {
  background-color: #9ac641;
}

p {
  font-size: 1rem;
  margin: 0;
} */



.card-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin: 20px;
  
}



.card {
  padding: 50px;
  margin: 40px;
  width: 140px;
  background-color: #9ceaed;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
 

}

.card-label {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  justify-content: center;
}

.item-count {
  position: absolute;
  margin-top: 20px;
  margin-left: 12%;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border-radius: 60%;
}



