*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color:rgba(128, 128, 128, 0.501);
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right: none;

}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.logo{
    flex: 1;
}

nav ul .search-bar{
    height: 40px;
    width: 240px;
    display: flex;
    border-radius: 5px;
}

nav ul .search-bar input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    
}