.items-list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-container {
  display: flex;
  margin: 10%;
}

.item {
  padding: 5px;
  margin: 2px;
  cursor: pointer;
  border-style: ridge;
}

.seen {
  background-color: #7be746;
}
